<!-- NEED TO FORMAT THREADS BY DATE TO TEMPLATIZE VIEW -->
<li class="msg-view-cell">
	<div class="msg-header">
		<p class="msg-from"> <%= get_name(email[:from]) %> </p>
		<p class="msg-hour">| <%= date.to_datetime.strftime("%H:%M%P") %></p>
		<p class="msg-day"><%= email[:date].to_datetime.strftime("%b, %d") %></p>
	</div>
	<div class="msg-header">
		<% group_participants(email) %>
		<% if @participant_key %>
			<% @participant_key.each do |names, key| %>
				<% if @participants.sort == names %>
					<% @filter_val = key %>
				<% end %>
			<% end %>
		<% end %>
		<% first = @participants.shift %>
		<% last = @participants.pop %>
		<p class="msg-hour"><% @participants.each do |participant| %> <%= participant + ", " %><% end %><%= last %>
		</p>
		<% if @participant_key %>
			<p class="msg-day">
				<%= link_to 'filter', filter_message_path(:filter => @filter_val) %>
			</p>
		<% end %>
	</div>
	<% if count == 1 %>
		<%= raw email[:body] %>
	<% else %>
		<%= raw remove_history(email[:body]) %>
	<% end %>
</li>