<% content_for :head do %>
  <%= render 'layouts/header' %>
<% end %>

<% content_for :body do %>
  <h4>Messages (<%= @details.count %>)</h4>
  <ul class="table-view">
      <% @sender_hash.each do |id, email| %>
      <li class="table-view-cell media">
        <!-- passing email addresses here is causing issues %> -->
        <%= link_to message_path(:sender => id), :class => "navigate-right" do %>
        <!-- <a class="navigate-right"> -->
          <span class="badge"><%= email.count %></span>
          <!-- Look at the email hash, take the first date + email pair, and pull our the get_details hash -->
          <% most_recent = email.first.last %>
          <p class="name-image media-object pull-left">
            <%= most_recent[:from].gsub(/\W/,'')[0,1] %>
          </p>
          <div class="media-body">
            <p><%= most_recent[:from] %></p>
            <!-- only show the subject and body of first email - probably want to change -->
            <p><%= most_recent[:subject] %> | <%= most_recent[:snippet] %></p>
          </div>
        <!-- </a> -->
        <% end %>
      </li>
      <% end %>
  </ul>
<% end %>






