<h4>Messages (<%= @inbox_size %>)</h4>
<ul class="table-view">
  <% @messages.each do |message| %>
    <% msg = @gmail.get_details(message['id']) %>
    <li class="table-view-cell media">
      <a class="navigate-right">
      	<!-- Insert real # below -->
        <span class="badge">5</span>
        <!-- Insert real images below -->
        <p class="name-image media-object pull-left">
          <%= msg[:from].gsub(/\W/,'')[0,1] %>
        </p>
        <div class="media-body">
          <p><%= msg[:from] %></p>
          <p><%= msg[:subject] %> | <%= msg[:body] %></p>
          <!-- <p><%= msg[:data] %></p> -->
        </div>
      </a>
    </li>
  <% end %>
</ul>
<br>
<h4>Labels</h4>
<ul class="table-view">
  <% @labels.each do |label| %>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <!-- Insert real # below -->
        <span class="badge">5</span>
	    <div class="media-body">
	      <p><%= label['name'].capitalize %></p>
	    </div>
	  </a>
	</li>
  <% end %>
</ul>


<!--
<h1>Messages (<%= @inbox_size %>)</h1>
<div>
	<% @messages.each do |message| %>
		<% msg = @gmail.get_details(message['id']) %>
		<h2>Subject: <%= msg[:subject] %></h2>
		<p>From: <%= msg[:from] %></p>
		<p>Body:</p> 
		<%= raw msg[:body] %>
	</br>
	<% end %>
</div>
-->

