<!-- HEADER CONTENT -->
<% content_for :header_left do %>
  <%= link_to "Log out", logout_path, method: :delete, class: 'btn pull-left' %>
  <!-- <%= link_to "Refresh", { controller: :messages, method: :refresh_gmail, :refresh => true }, class: 'btn pull-left' %> -->
<% end %>
<% content_for :header_title do %>
  Inbox
<% end %>

<% content_for :body do %>
  <h4>Conversations (<%= @thread_hash.count %>)</h4>
  <ul class="table-view">
      <% @thread_hash.each do |thread_id, email| %>
      <li class="table-view-cell media">
        
        <%= link_to message_path(:sender => thread_id), :class => "navigate-right" do %>
        
        <span class="badge"><%= email.count %></span>
        
        <% most_recent = email.first.last %>
          
          <%= render 'messages/participant_circle', :most_recent => most_recent %>
          
          <div class="media-body">
            <p><%= most_recent[:subject] %> | <%= get_name(most_recent[:from]) %></p>
            <p><%= most_recent[:snippet] %></p>
          </div>
        
        <% end %>
      
      </li>
      
      <% end %>
  </ul>

<% end %>





