<h1>Labels</h1>
<ul>
	<% @labels.each do |label| %>
		<li><%= label['name'].capitalize %></li>
	<% end %>
</ul>

<h1>Messages (<%= @inbox_size %>)</h1>
<div>
	<% @messages.each do |message| %>
		<% msg = @gmail.get_details(message['id']) %>
		<h2>Subject: <%= msg[:subject] %></h2>
		<p>From: <%= msg[:from] %></p>
		<p>Body: <%= msg[:body] %></p>
	</br>
	<% end %>
</div>

