<!-- HEADER CONTENT -->
<% content_for :header_left do %>
  <%= link_to messages_path, class: 'icon icon-left-nav pull-left', :"data-transition" => "slide-out" do %><% end %>
<% end %>
<% content_for :header_title do %>
  <%= shorten(@subject) %>
<% end %>

<% content_for :body do %>
	<% if @participant_threads.count > 1 %>
	<div class="segmented-control">
		<% i = 1 %>
		<% @participant_threads.each do |participants, thread| %>
			<% if i == 1 %>
				<% active = "active" %>
			<% else %>
				<% active = "" %>
			<% end %>
			 <a class="control-item <%= active %>" href="#thread<%= i %>mobile">
			    <% members = "" %>
			    <% if participants.count > 1 %>
			    	<% last = participants.pop %>
				    <% participants.each do |person| %>
				    	<% members += get_initials(person).to_s+", " %>
				    <% end %>
			    	<% members += get_initials(last) %>
			    <% else %>
			    	<% members = get_initials(participants.first).to_s %>
			    <% end %>
			    <%= members %>
			  </a>
		  	<% i += 1 %>
		<% end %>
	</div>
	<% end %>

	<div>
		<% i = 1 %>
		<% @participant_threads.each do |participants, thread| %>
			<% if i == 1 %>
				<% active = "active" %>
			<% else %>
				<% active = "" %>
			<% end %>
			<span id="thread<%= i %>mobile" class="control-content <%= active %>">
			  	<div class="view-history"><a href="#">A button</a></div>
			  	<ul class="msg-view">
			  		<% count = 1 %>	
					<% thread.each do |date, email| %>
						<div class="card">
							<%= render 'messages/list_thread', :email => email, :date => date, :count => count %>
						</div>
						<% count += 1 %>
					<% end %>
				</ul>
			</span>
			<% i += 1 %>
		<% end %>
	</div>	
	
		<!-- RESPONSE BUBBLE BELOW 
		<div class="clear"></div>
		<div class="from-me">
		  <p>Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
		</div>
		-->
	<% debugger %>
<% end %>

<% content_for :lower_nav do %>
	<%= render 'layouts/lowernav_response' %>
<% end %>