<!-- HEADER CONTENT -->
<% content_for :header_left do %>
  <%= link_to messages_path, class: 'icon icon-left-nav pull-left' do %><% end %>
<% end %>
<% content_for :header_title do %>
  <%= shorten(@subject) %>
<% end %>

<% content_for :body do %>
	<ul class="msg-view">
		<% unless @additional_threads.blank? %>
			<% @additional_threads.each do |id, email| %>
				<li class="msg-view-cell">
					<div class="msg-header">
						<p class="msg-from"> <%= get_name(email[:from]) %> </p>
						<p class="msg-hour">| <%= email[:date].to_datetime.strftime("%H:%M%P") %></p>
						<p class="msg-day"><%= email[:date].to_datetime.strftime("%b, %d") %></p>
					</div>
					<p class="msg-body"><%= raw email[:body] %></p>
				</li>
			<% end %>
		<% end %>	
		<% @msgs.each do |date, email| %>
			<li class="msg-view-cell">
				<div class="msg-header">
					<p class="msg-from"> <%= get_name(email[:from]) %> </p>
					<p class="msg-hour">| <%= date.to_datetime.strftime("%H:%M%P") %></p>
					<p class="msg-day"><%= date.to_datetime.strftime("%b, %d") %></p>
				</div>
				<p class="msg-body"><%= raw email[:body] %></p>
			</li>
		<% end %>
	</ul>
		<!-- RESPONSE BUBBLE BELOW 
		<div class="clear"></div>
		<div class="from-me">
		  <p>Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
		</div>
		-->
<% end %>